## Practica
```
Curso     : Mineria de Datos 2021-2
Docente   : Carlos Fernando Montoya Cubas
Autor     : Carlos Enrique Quispe Chambilla
Lugar     : Cusco, Perú, 2022.
Proposito : Implementar en un notebook pyspark usando mapreduce el algoritmo TF-IDF
```

In [2]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 34 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 42.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=efdec19a461a9303d3b99e9ccfaa595a4c814763d522f49ce14cc4260bfeea5d
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

## **Librerias**

In [4]:
# Importacion de librerias principales
import pyspark # only run after findspark.init()
from pyspark.sql import SparkSession
from pyspark import SparkContext
spark = SparkSession.builder.appName('TF IDF')\
    .config('spark.master', 'local[4]')\
    .config('spark.shuffle.sql.partitions', 1)\
    .sc = SparkContext.getOrCreate()

In [5]:
import pyspark # only run after findspark.init()
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

# **Datos de Prueba**

In [7]:
data=[(1,'La NASA está estudiando con inteligencia artificial los cráteres de Marte'),(2,"los investigadores de la NASA irán integrando Inteligencia Artificial a las naves espaciales"),(3,"se enseña al algoritmo a cómo detectar un nuevo cráter")]
lineas=sc.parallelize(data)
lineas.collect()

[(1,
  'La NASA está estudiando con inteligencia artificial los cráteres de Marte'),
 (2,
  'los investigadores de la NASA irán integrando Inteligencia Artificial a las naves espaciales'),
 (3, 'se enseña al algoritmo a cómo detectar un nuevo cráter')]

## Paso 1:

In [8]:
# Usamos la transformacion
map1=lineas.flatMap(lambda x: [((x[0],i),1) for i in x[1].split()])
map1.collect()

[((1, 'La'), 1),
 ((1, 'NASA'), 1),
 ((1, 'está'), 1),
 ((1, 'estudiando'), 1),
 ((1, 'con'), 1),
 ((1, 'inteligencia'), 1),
 ((1, 'artificial'), 1),
 ((1, 'los'), 1),
 ((1, 'cráteres'), 1),
 ((1, 'de'), 1),
 ((1, 'Marte'), 1),
 ((2, 'los'), 1),
 ((2, 'investigadores'), 1),
 ((2, 'de'), 1),
 ((2, 'la'), 1),
 ((2, 'NASA'), 1),
 ((2, 'irán'), 1),
 ((2, 'integrando'), 1),
 ((2, 'Inteligencia'), 1),
 ((2, 'Artificial'), 1),
 ((2, 'a'), 1),
 ((2, 'las'), 1),
 ((2, 'naves'), 1),
 ((2, 'espaciales'), 1),
 ((3, 'se'), 1),
 ((3, 'enseña'), 1),
 ((3, 'al'), 1),
 ((3, 'algoritmo'), 1),
 ((3, 'a'), 1),
 ((3, 'cómo'), 1),
 ((3, 'detectar'), 1),
 ((3, 'un'), 1),
 ((3, 'nuevo'), 1),
 ((3, 'cráter'), 1)]

## Paso 2:

In [9]:
reduce=map1.reduceByKey(lambda x,y:x+y)
reduce.collect()

[((1, 'La'), 1),
 ((1, 'está'), 1),
 ((1, 'de'), 1),
 ((1, 'Marte'), 1),
 ((2, 'los'), 1),
 ((2, 'NASA'), 1),
 ((2, 'irán'), 1),
 ((2, 'integrando'), 1),
 ((2, 'Artificial'), 1),
 ((2, 'espaciales'), 1),
 ((3, 'se'), 1),
 ((3, 'a'), 1),
 ((3, 'cómo'), 1),
 ((3, 'un'), 1),
 ((3, 'nuevo'), 1),
 ((1, 'NASA'), 1),
 ((1, 'estudiando'), 1),
 ((1, 'con'), 1),
 ((1, 'inteligencia'), 1),
 ((1, 'artificial'), 1),
 ((1, 'los'), 1),
 ((1, 'cráteres'), 1),
 ((2, 'investigadores'), 1),
 ((2, 'de'), 1),
 ((2, 'la'), 1),
 ((2, 'Inteligencia'), 1),
 ((2, 'a'), 1),
 ((2, 'las'), 1),
 ((2, 'naves'), 1),
 ((3, 'enseña'), 1),
 ((3, 'al'), 1),
 ((3, 'algoritmo'), 1),
 ((3, 'detectar'), 1),
 ((3, 'cráter'), 1)]

## Paso 3:

In [10]:
tf=reduce.map(lambda x: (x[0][1],(x[0][0],x[1])))
tf.collect()

[('La', (1, 1)),
 ('está', (1, 1)),
 ('de', (1, 1)),
 ('Marte', (1, 1)),
 ('los', (2, 1)),
 ('NASA', (2, 1)),
 ('irán', (2, 1)),
 ('integrando', (2, 1)),
 ('Artificial', (2, 1)),
 ('espaciales', (2, 1)),
 ('se', (3, 1)),
 ('a', (3, 1)),
 ('cómo', (3, 1)),
 ('un', (3, 1)),
 ('nuevo', (3, 1)),
 ('NASA', (1, 1)),
 ('estudiando', (1, 1)),
 ('con', (1, 1)),
 ('inteligencia', (1, 1)),
 ('artificial', (1, 1)),
 ('los', (1, 1)),
 ('cráteres', (1, 1)),
 ('investigadores', (2, 1)),
 ('de', (2, 1)),
 ('la', (2, 1)),
 ('Inteligencia', (2, 1)),
 ('a', (2, 1)),
 ('las', (2, 1)),
 ('naves', (2, 1)),
 ('enseña', (3, 1)),
 ('al', (3, 1)),
 ('algoritmo', (3, 1)),
 ('detectar', (3, 1)),
 ('cráter', (3, 1))]

# **Calculo de la frecuencia inversa de Documentos (IDF)**

In [11]:
# Mapeo: a partir de identificador o id como clave del TF.
map3=reduce.map(lambda x: (x[0][1],(x[0][0],x[1],1))) 
map3.collect()

[('La', (1, 1, 1)),
 ('está', (1, 1, 1)),
 ('de', (1, 1, 1)),
 ('Marte', (1, 1, 1)),
 ('los', (2, 1, 1)),
 ('NASA', (2, 1, 1)),
 ('irán', (2, 1, 1)),
 ('integrando', (2, 1, 1)),
 ('Artificial', (2, 1, 1)),
 ('espaciales', (2, 1, 1)),
 ('se', (3, 1, 1)),
 ('a', (3, 1, 1)),
 ('cómo', (3, 1, 1)),
 ('un', (3, 1, 1)),
 ('nuevo', (3, 1, 1)),
 ('NASA', (1, 1, 1)),
 ('estudiando', (1, 1, 1)),
 ('con', (1, 1, 1)),
 ('inteligencia', (1, 1, 1)),
 ('artificial', (1, 1, 1)),
 ('los', (1, 1, 1)),
 ('cráteres', (1, 1, 1)),
 ('investigadores', (2, 1, 1)),
 ('de', (2, 1, 1)),
 ('la', (2, 1, 1)),
 ('Inteligencia', (2, 1, 1)),
 ('a', (2, 1, 1)),
 ('las', (2, 1, 1)),
 ('naves', (2, 1, 1)),
 ('enseña', (3, 1, 1)),
 ('al', (3, 1, 1)),
 ('algoritmo', (3, 1, 1)),
 ('detectar', (3, 1, 1)),
 ('cráter', (3, 1, 1))]

In [12]:
# Aqui extraemos el token y el numero de contador de i como ocurrencia en ciertos documentos
map4=map3.map(lambda x:(x[0],x[1][2])) 
map4.collect()

[('La', 1),
 ('está', 1),
 ('de', 1),
 ('Marte', 1),
 ('los', 1),
 ('NASA', 1),
 ('irán', 1),
 ('integrando', 1),
 ('Artificial', 1),
 ('espaciales', 1),
 ('se', 1),
 ('a', 1),
 ('cómo', 1),
 ('un', 1),
 ('nuevo', 1),
 ('NASA', 1),
 ('estudiando', 1),
 ('con', 1),
 ('inteligencia', 1),
 ('artificial', 1),
 ('los', 1),
 ('cráteres', 1),
 ('investigadores', 1),
 ('de', 1),
 ('la', 1),
 ('Inteligencia', 1),
 ('a', 1),
 ('las', 1),
 ('naves', 1),
 ('enseña', 1),
 ('al', 1),
 ('algoritmo', 1),
 ('detectar', 1),
 ('cráter', 1)]

In [14]:
reduce2=map4.reduceByKey(lambda x,y:x+y)
reduce2.collect()

[('los', 2),
 ('NASA', 2),
 ('irán', 1),
 ('integrando', 1),
 ('Artificial', 1),
 ('espaciales', 1),
 ('estudiando', 1),
 ('con', 1),
 ('inteligencia', 1),
 ('artificial', 1),
 ('cráteres', 1),
 ('enseña', 1),
 ('al', 1),
 ('algoritmo', 1),
 ('detectar', 1),
 ('cráter', 1),
 ('La', 1),
 ('está', 1),
 ('de', 2),
 ('Marte', 1),
 ('se', 1),
 ('a', 2),
 ('cómo', 1),
 ('un', 1),
 ('nuevo', 1),
 ('investigadores', 1),
 ('la', 1),
 ('Inteligencia', 1),
 ('las', 1),
 ('naves', 1)]

In [15]:
import math
from pyspark.sql.functions import *
idf=reduce2.map(lambda x: (x[0],math.log10(len(data)/x[1])))
idf.collect()

[('los', 0.17609125905568124),
 ('NASA', 0.17609125905568124),
 ('irán', 0.47712125471966244),
 ('integrando', 0.47712125471966244),
 ('Artificial', 0.47712125471966244),
 ('espaciales', 0.47712125471966244),
 ('estudiando', 0.47712125471966244),
 ('con', 0.47712125471966244),
 ('inteligencia', 0.47712125471966244),
 ('artificial', 0.47712125471966244),
 ('cráteres', 0.47712125471966244),
 ('enseña', 0.47712125471966244),
 ('al', 0.47712125471966244),
 ('algoritmo', 0.47712125471966244),
 ('detectar', 0.47712125471966244),
 ('cráter', 0.47712125471966244),
 ('La', 0.47712125471966244),
 ('está', 0.47712125471966244),
 ('de', 0.17609125905568124),
 ('Marte', 0.47712125471966244),
 ('se', 0.47712125471966244),
 ('a', 0.17609125905568124),
 ('cómo', 0.47712125471966244),
 ('un', 0.47712125471966244),
 ('nuevo', 0.47712125471966244),
 ('investigadores', 0.47712125471966244),
 ('la', 0.47712125471966244),
 ('Inteligencia', 0.47712125471966244),
 ('las', 0.47712125471966244),
 ('naves', 0.47712125471966244)]

# **Computacion TD-IDF**

In [16]:
rdd=tf.join(idf)
rdd.collect()

[('los', ((2, 1), 0.17609125905568124)),
 ('los', ((1, 1), 0.17609125905568124)),
 ('irán', ((2, 1), 0.47712125471966244)),
 ('integrando', ((2, 1), 0.47712125471966244)),
 ('espaciales', ((2, 1), 0.47712125471966244)),
 ('estudiando', ((1, 1), 0.47712125471966244)),
 ('con', ((1, 1), 0.47712125471966244)),
 ('cráteres', ((1, 1), 0.47712125471966244)),
 ('detectar', ((3, 1), 0.47712125471966244)),
 ('La', ((1, 1), 0.47712125471966244)),
 ('está', ((1, 1), 0.47712125471966244)),
 ('se', ((3, 1), 0.47712125471966244)),
 ('a', ((3, 1), 0.17609125905568124)),
 ('a', ((2, 1), 0.17609125905568124)),
 ('cómo', ((3, 1), 0.47712125471966244)),
 ('la', ((2, 1), 0.47712125471966244)),
 ('Inteligencia', ((2, 1), 0.47712125471966244)),
 ('las', ((2, 1), 0.47712125471966244)),
 ('naves', ((2, 1), 0.47712125471966244)),
 ('NASA', ((2, 1), 0.17609125905568124)),
 ('NASA', ((1, 1), 0.17609125905568124)),
 ('Artificial', ((2, 1), 0.47712125471966244)),
 ('inteligencia', ((1, 1), 0.47712125471966244)),
 ('artificial', ((1, 1), 0.47712125471966244)),
 ('enseña', ((3, 1), 0.47712125471966244)),
 ('al', ((3, 1), 0.47712125471966244)),
 ('algoritmo', ((3, 1), 0.47712125471966244)),
 ('cráter', ((3, 1), 0.47712125471966244)),
 ('de', ((1, 1), 0.17609125905568124)),
 ('de', ((2, 1), 0.17609125905568124)),
 ('Marte', ((1, 1), 0.47712125471966244)),
 ('un', ((3, 1), 0.47712125471966244)),
 ('nuevo', ((3, 1), 0.47712125471966244)),
 ('investigadores', ((2, 1), 0.47712125471966244))]

In [17]:
rdd=rdd.map(lambda x: (x[1][0][0],(x[0],x[1][0][1],x[1][1],x[1][0][1]*x[1][1]))).sortByKey()
rdd.collect()

[(1, ('los', 1, 0.17609125905568124, 0.17609125905568124)),
 (1, ('estudiando', 1, 0.47712125471966244, 0.47712125471966244)),
 (1, ('con', 1, 0.47712125471966244, 0.47712125471966244)),
 (1, ('cráteres', 1, 0.47712125471966244, 0.47712125471966244)),
 (1, ('La', 1, 0.47712125471966244, 0.47712125471966244)),
 (1, ('está', 1, 0.47712125471966244, 0.47712125471966244)),
 (1, ('NASA', 1, 0.17609125905568124, 0.17609125905568124)),
 (1, ('inteligencia', 1, 0.47712125471966244, 0.47712125471966244)),
 (1, ('artificial', 1, 0.47712125471966244, 0.47712125471966244)),
 (1, ('de', 1, 0.17609125905568124, 0.17609125905568124)),
 (1, ('Marte', 1, 0.47712125471966244, 0.47712125471966244)),
 (2, ('los', 1, 0.17609125905568124, 0.17609125905568124)),
 (2, ('irán', 1, 0.47712125471966244, 0.47712125471966244)),
 (2, ('integrando', 1, 0.47712125471966244, 0.47712125471966244)),
 (2, ('espaciales', 1, 0.47712125471966244, 0.47712125471966244)),
 (2, ('a', 1, 0.17609125905568124, 0.17609125905568124)),
 (2, ('la', 1, 0.47712125471966244, 0.47712125471966244)),
 (2, ('Inteligencia', 1, 0.47712125471966244, 0.47712125471966244)),
 (2, ('las', 1, 0.47712125471966244, 0.47712125471966244)),
 (2, ('naves', 1, 0.47712125471966244, 0.47712125471966244)),
 (2, ('NASA', 1, 0.17609125905568124, 0.17609125905568124)),
 (2, ('Artificial', 1, 0.47712125471966244, 0.47712125471966244)),
 (2, ('de', 1, 0.17609125905568124, 0.17609125905568124)),
 (2, ('investigadores', 1, 0.47712125471966244, 0.47712125471966244)),
 (3, ('detectar', 1, 0.47712125471966244, 0.47712125471966244)),
 (3, ('se', 1, 0.47712125471966244, 0.47712125471966244)),
 (3, ('a', 1, 0.17609125905568124, 0.17609125905568124)),
 (3, ('cómo', 1, 0.47712125471966244, 0.47712125471966244)),
 (3, ('enseña', 1, 0.47712125471966244, 0.47712125471966244)),
 (3, ('al', 1, 0.47712125471966244, 0.47712125471966244)),
 (3, ('algoritmo', 1, 0.47712125471966244, 0.47712125471966244)),
 (3, ('cráter', 1, 0.47712125471966244, 0.47712125471966244)),
 (3, ('un', 1, 0.47712125471966244, 0.47712125471966244)),
 (3, ('nuevo', 1, 0.47712125471966244, 0.47712125471966244))]

In [23]:
# Mostrar el TD-IDF
rdd=rdd.map(lambda x: (x[0],x[1][0],x[1][1],x[1][2],x[1][3]))
rdd

PythonRDD[36] at RDD at PythonRDD.scala:53